.wrapper {
  &__inner {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
  }
}

.header {
  background: #fd9191;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
  }

  &__text {
    font-weight: 700;
  }
}
.sidebar {
  flex: 0 1 250px;
  &_1 {
    background: #e4c1ff;
  }

  &_2 {
    background: #fdff83;
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-weight: 700;
  }
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #94cbff;
  flex-grow: 1;
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-weight: 700;
  }
}
.footer {
  background: #dfff9b;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
  }

  &__text {
    font-weight: 700;
  }
}
@media screen and (max-width: 800px) {
  .wrapper__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .page {
    flex: 0 1 100%;
    order: 1;
    min-height: 100px;
  }
  .sidebar {
    min-height: 52px;
    &_1 {
      flex: 0 1 50%;
      order: 2;
    }
    &_2 {
      flex: 0 1 50%;
      order: 3;
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper__inner {
    flex-direction: column;
  }
  .page {
    flex: 1 0 100px;
    order: 1;
  }
  .sidebar {
    flex: 0 1 52px;
    &_1 {
      order: 2;
    }
    &_2 {
      order: 3;
    }
  }
}
